@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@import "@simonwep/pickr/dist/themes/nano.min.css";

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: lch(10.236% 0.213 272.695);
  --color-base-200: lch(12.236% 2.213 272.695);
  --color-base-300: lch(17.236% 4.213 272.695);
  --color-base-content: lch(100% 0 272.695);
  --color-primary: lch(47.918% 59.303 288.421);
  --color-primary-content: lch(100% 0 272.695);
  --color-secondary: lch(13.736% 3.213 272.695);
  --color-secondary-content: lch(91.224% 2.106 272.695);
  --color-accent: lch(47.918% 59.303 288.421);
  --color-accent-content: lch(100% 0 272.695);
  --color-neutral: lch(13.736% 3.213 272.695);
  --color-neutral-content: lch(91.224% 2.106 272.695);
  --color-info: lch(47.918% 59.303 288.421);
  --color-info-content: lch(100% 0 272.695);
  --color-success: lch(59 44.1 163.225);
  --color-success-content: lch(100% 0 272.695);
  --color-warning: lch(64 71.64 41.116);
  --color-warning-content: lch(100% 0 272.695);
  --color-error: lch(58 73.36 17.585);
  --color-error-content: lch(100% 0 272.695);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --focus-ring-color: transparent;
  --focus-ring-width: 0px;
  --focus-ring-offset: 0px;
  --color-bg-primary: lch(12.236% 2.213 272.695);
  --color-bg-secondary: lch(17.236% 4.213 272.695);
  --color-bg-tertiary: lch(19.736% 5.213 272.695);
  --color-bg-quaternary: lch(13.736% 3.213 272.695);
  --color-bg-quinary: 0;
  --color-text-primary: lch(100% 0 272.695);
  --color-text-secondary: lch(91.224% 2.106 272.695);
  --color-text-tertiary: lch(64.894% 2.106 272.695);
  --color-text-quaternary: lch(42.076% 2.106 272.695);
  --color-border-primary: lch(16.436% 4.613 272.695);
  --color-border-secondary: lch(20.636% 4.613 272.695);
  --color-border-tertiary: lch(24.236% 4.613 272.695);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-300: lch(100% 0 272.695);
  --color-base-200: lch(98% 0.5 272.695);
  --color-base-100: lch(95% 1 272.695);
  --color-base-content: lch(10.236% 0.213 272.695);
  --color-primary: lch(47.918% 59.303 288.421);
  --color-primary-content: lch(100% 0 272.695);
  --color-secondary: lch(95% 2 272.695);
  --color-secondary-content: lch(13.736% 3.213 272.695);
  --color-accent: lch(47.918% 59.303 288.421);
  --color-accent-content: lch(100% 0 272.695);
  --color-neutral: lch(95% 2 272.695);
  --color-neutral-content: lch(13.736% 3.213 272.695);
  --color-info: lch(47.918% 59.303 288.421);
  --color-info-content: lch(100% 0 272.695);
  --color-success: lch(59 44.1 163.225);
  --color-success-content: lch(100% 0 272.695);
  --color-warning: lch(64 71.64 41.116);
  --color-warning-content: lch(100% 0 272.695);
  --color-error: lch(58 73.36 17.585);
  --color-error-content: lch(100% 0 272.695);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --focus-ring-color: transparent;
  --focus-ring-width: 0px;
  --focus-ring-offset: 0px;
  --color-bg-primary: lch(100% 0 272.695);
  --color-bg-secondary: lch(98% 0.5 272.695);
  --color-bg-tertiary: lch(95% 1 272.695);
  --color-bg-quaternary: lch(92% 1.5 272.695);
  --color-bg-quinary: 0;
  --color-text-primary: lch(10.236% 0.213 272.695);
  --color-text-secondary: lch(20% 2.106 272.695);
  --color-text-tertiary: lch(40% 2.106 272.695);
  --color-text-quaternary: lch(60% 2.106 272.695);
  --color-border-primary: lch(85% 4.613 272.695);
  --color-border-secondary: lch(80% 4.613 272.695);
  --color-border-tertiary: lch(75% 4.613 272.695);
}


html {
  scrollbar-gutter: auto !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}

.pcr-app[data-theme=nano] {
  background-color: var(--color-base-200);
  padding: 0.5rem;
  border-radius: var(--radius-field);
}

.pcr-app .pcr-interaction .pcr-result {
  color: #bcc0c5;
  background: var(--color-base-200);
}


.pcr-app .pcr-interaction .pcr-save {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  outline-offset: 2px;
  webkit-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding-inline: var(--btn-p);
  color: var(--btn-fg);
  --tw-prose-links: var(--btn-fg);
  height: var(--size);
  font-size: var(--fontsize, .875rem);
  outline-color: var(--btn-color, var(--color-base-content));
  background-color: var(--color-primary);
  background-size: auto, calc(var(--noise) * 100%);
  background-image: none, var(--btn-noise);
  border-width: var(--border);
  border-style: solid;
  border-color: var(--btn-border);
  text-shadow: 0 .5px oklch(100% 0 0 / calc(var(--depth) * .15));
  touch-action: manipulation;
  box-shadow: 0 .5px 0 .5px oklch(100% 0 0 / calc(var(--depth) * 6%)) inset, var(--btn-shadow);
  --size: calc(var(--size-field, .25rem) * 10);
  --btn-bg: var(--btn-color, var(--color-base-200));
  --btn-fg: var(--color-base-content);
  --btn-p: 1rem;
  --btn-border: var(--btn-bg);
  --btn-shadow: 0 3px 2px -2px var(--btn-bg), 0 4px 3px -2px var(--btn-bg);
  --btn-noise: var(--fx-noise);
  border-start-start-radius: var(--join-ss, var(--radius-field));
  border-start-end-radius: var(--join-se, var(--radius-field));
  border-end-end-radius: var(--join-ee, var(--radius-field));
  border-end-start-radius: var(--join-es, var(--radius-field));
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: .375rem;
  font-weight: 600;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: 
cubic-bezier(0, 0, .2, 1);
  display: inline-flex;
  font-family: inherit;
}
