<div id="<%= dom_id order_status %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Full name:</strong>
    <%= order_status.full_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Short name:</strong>
    <%= order_status.short_name %>
  </div>
</div>
