<%= render Ui::Layout::Table::DefaultComponent.new do |component| %>
  <% component.with_header(title: "Status zamówień", href: "order_statuses/new") %>
  <% component.with_table_header do %>
    <thead>
      <tr>
        <th class="text-base-content font-semibold w-10">
          <button class="btn btn-ghost btn-xs p-1" onclick="toggleTableBody()">
            <i class="fas fa-chevron-down transition-transform" id="toggle-icon"></i>
          </button>
        </th>
        <th class="text-base-content font-semibold">Nazwa statusu</th>
        <th class="text-base-content font-semibold">Nazwa krótka</th>
        <th class="text-base-content font-semibold">Grupa</th>
        <th class="text-base-content font-semibold text-right">Akcje</th>
      </tr>
    </thead>
  <%end %>
  <% component.with_table_body do %>
    <tbody id="status-table-body" data-controller="sortable" data-sortable-resource-name-value="order_status" data-sortable-handle-value=".handle">
      <% if @order_statuses.present? %>
        <% @order_statuses.each do |status| %>
          <%= render partial: "order_statuses/row", locals: { status: status } %>
        <% end %>
      <% else %>
        <%= render Ui::Layout::Table::EmptyStateComponent.new(icon: "fa-file-question", title: "Brak statusów", paragraph: "Utwórz swój pierwszy status zamówienia.", href: "order_statuses/new", text_button: "Utwórz status" ) %>
      <% end %>
    </tbody>
  <% end %>
<% end %>