<% css_class = mobile_only ? "sm:hidden" : "" %>
<% if account_integration.active? %>
  <div class="w-2 h-2 rounded-full bg-success <%= css_class %>" title="Aktywna"></div>
<% else %>
  <div class="w-2 h-2 rounded-full bg-warning <%= css_class %>" title="Nieaktywna"></div>
<% end %>
