<% content_for :title, "Użytkownicy" %>
<%= render Ui::Layout::Container::DefaultComponent.new do %>
  <!-- Header -->
  <%= render Ui::Layout::Header::DefaultComponent.new(title: "Zarządzanie użytkownikami") %>
  <%= turbo_frame_tag "users_frame" do %>
    <%= render "table" %>
  <% end %>
</div>
<% end %>
