<div role="tablist" class="tabs tabs-box border-b border-gray-500/30 rounded-none bg-base-100">
  <%= link_to "Moje integracje", account_integrations_path, class: "tab #{current_page?(account_integrations_path) ? 'tab-active' : ''}" %>
  <%= link_to "Dostępne integracje", integrations_path, class: "tab #{current_page?(integrations_path) ? 'tab-active' : ''}" %>
</div>
