<table class="min-w-full table-fixed text-sm border-collapse">
  <thead class="text-[10px]">
    <tr class="border-b border-neutral-300">
      <th class="px-2 py-2 text-left w-32">NUMER</th>
      <th class="px-2 py-2 text-left w-56">IMIĘ NAZWISKO</th>
      <th class="px-2 py-2 text-left w-64">PRZEDMIOTY</th>
      <th class="px-2 py-2 text-left w-64">INFORMACJE</th>
      <th class="px-2 py-2 text-left w-24">KWOTA</th>
      <th class="px-2 py-2 text-left w-56">INFORMACJE DODATKOWE</th>
      <th class="px-2 py-2 text-left w-40">DATA ZŁOŻENIA</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <%= render partial: "orders/row", locals: { order: order } %>
    <% end %>
  </tbody>
</table>
