<div class="overflow-x-auto w-full">
  <table class="table table-zebra w-full">
    <thead>
      <tr class="text-xs">
        <th class="font-semibold">Numer</th>
        <th class="font-semibold">Imię Nazwisko</th>
        <th class="font-semibold">Przedmioty</th>
        <th class="font-semibold">Kwota</th>
        <th class="font-semibold">Informacje dodatkowe</th>
        <th class="font-semibold flex flex-col"><span>Data złożenia</span><span class="text-[10px] text-blue-800 font-medium">Data modyfikacji</span></th>
      </tr>
    </thead>
    <tbody>
      <% if @orders.present? %>
        <% @orders.each do |order| %>
          <%= render partial: "orders/row", locals: { order: order } %>
        <% end %>
      <% else %>
        <tr class="my-14">
          <td colspan="6" class="text-gray-400 text-center pt-18">Brak zamówień do wyświetlenia.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
