<% content_for :title, "Orders" %>
<div class="w-full flex relative">
  <div class="w-44 h-full fixed border flex flex-col items-center py-4 px-3">
    <%= link_to "Nowe zamówienie", new_order_path, class: "btn btn-primary text-xs" %>
    <div class="flex flex-col gap-4 mt-4 w-full">
      <% @order_statuses.each do |order_status|  %>
        <div class="flex gap-1 items-start">
          <div class="badge badge-primary badge-xs">-</div>
          <p class="text-xs"><%= order_status.full_name %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ml-44 p-2">
    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-xl">Zamówienia</h1>
    </div>
    <div id="orders" class="min-w-full divide-y divide-gray-200 space-y-5">
      <%= render partial: "orders/table", locals: { orders: @orders } %>
    </div>
  </div>
</div>
