<dialog id="modal" class="modal" open="true">
  <div class="modal-box bg-base-300 border border-gray-500/30 shadow-md rounded-lg max-w-2xl px-8 py-6">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <%= content %>
  </div>
</dialog>
