<%= turbo_frame_tag dom_id(@customer || CustomerInfoComponent.new) do %>
  <table>
    <tr>
      <td class="w-42">Klient (login):</td>
      <td>
        <%= link_to @order.customer&.login.presence || "...", edit_order_customer_path(@order, @customer) %>
      </td>
    </tr>
    <tr>
      <td class="w-42">E-mail:</td>
      <td>
        <%= link_to @order.customer&.email.presence || "...", edit_order_customer_path(@order, @customer) %>
      </td>
    </tr>
    <tr>
      <td class="w-42">Telefon:</td>
      <td>
        <%= link_to @order.customer&.phone.presence || "...", edit_order_customer_path(@order, @customer) %>
      </td>
    </tr>
  </table>
<% end %>