<% content_for :title, "Integracje" %>
<%= render Ui::Layout::Container::DefaultComponent.new do %>
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mb-8">
    <div>
      <h1 class="text-2xl font-bold text-base-content">Integracje</h1>
      <p class="text-base-content/60 mt-1">Zarządzaj integracjami z systemami zewnętrznymi</p>
    </div>
  </div>
  <%= render "table" %>
<% end %>