<div class="bg-gray-50 p-3 rounded-md shadow-sm flex items-center justify-between">
  <div class="flex items-center text-sm text-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-2 text-yellow-400">
      <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.343 1.044l4.154-2.357 4.154 2.357c.652.412 1.537-.231 1.343-1.044l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.753-.382-1.83-4.401z" clip-rule="evenodd" />
    </svg>
    <div class="flex gap-4">
      <span>Zamówienie</span><span><%= @order_id %></span>
    </div>
  </div>
  <div class="flex items-center space-x-2">
    <button class="rounded-full border border-gray-300 text-gray-500 w-8 h-8 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </button>
    <button class="rounded-full border border-gray-300 text-gray-500 w-8 h-8 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
    <%= link_to orders_path, class: "bg-blue-50 text-blue-500 rounded-md border border-blue-300 px-3 py-1 text-sm flex items-center" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.05-.052.218-.052.268 0l8.955 8.955m-17.485 0c-.05.052-.218.052-.268 0L12 20.955m-8.955-8.955c.05-.052.218-.052.268 0l8.954 8.955m-1.73-12.954l11.986 11.986c-.05.052-.218.052-.268 0L2.25 12" />
      </svg>
      <span>Powrót do listy zamówień</span>
    <% end %>
  </div>
</div>